
/* class selector */
/* .h1-specfic{
    color: aqua;
}
h1{
    color: green;
    background-color: yellow;
} */
/* id selector  */
/* #desc{
    color: magenta;
}
.spcefic2{
    color: red;
}

#span-id{
    color:purple
}

#span-id{
    color:purple
} */
*{
    box-sizing: border-box;
}

body{
    margin:0px;
}

div{
    /* height: 30px;
    width: 100px; */
}
/* 
*{
    color:white
} */

h1{
    width:300px;
    height:300px;
    display: inline-block;
}

a{
    color: red
}

