.container{
    width: 400px;
    height:400px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMtAgslBqFAhrydwVznYgiMUNxbnAKcCuiLW1TMil-&s');
    background-repeat: no-repeat;
    border: 1px solid red;
    background-position:right;
    background-size: cover;
}
/*  */
html{
    /* font-size: 16px; */
}
body{
    /* height:98vh;
    width:98vw; */
    /* background-image: url(../flowers-276014__340.jpg);

    background-repeat: no-repeat;
    background-size: cover; */
    font-size: 32px;
    background-color: var(--background-color);
}

#tempDiv{
    height: 50vh;
    width: 50vw;
    min-width: 300px;
    border: 1px solid red;
    max-width: 600px;
    
}
.child{
    width:50%;
    border: 1px solid red;
    height:50%;
    font-size: 2rem;
    padding: 4rem;
    /* font-size: 1rem; */
    /* font-size: 2rem; */
    /* font-size: 2rem; */
}

p{
    width: 110px;
    white-space:nowrap;
    border:1px solid red;
    overflow: scroll;
    
    /* text-overflow: cl; */
}

.child-temp-1{
    font-size: 2rem; /* 32px */
}
.child-temp-2{
    font-size: 2em; 
    padding: 2em;
    /* 64px */
}
.child-temp-3{
    /* font-size: 16px; */
    /* font-size: 64px; */
    /* 96px */
    padding: 2em;
    /* 32px */
}

.temp-span{
    font-size: 2em;
    color: var(--font-color);

}
button{
    display: none;
}

@media (max-width:600px) {
    button{
        display: inline;
    }
    .child-temp-3{
        /* font-size: 16px; */
        /* font-size: 64px; */
        /* 96px */
        padding: 2em;
        /* 32px */
    }
}
/* CSS Variables  */
.dark{
    --font-color: white;
    --background-color: black;
}

.light{
    --font-color: black;
    --background-color: white;
}